{% extends "base.html" %}
{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            {% if product.image %}
                <img src="{{ url_for('static', filename=product.image | replace('static/', '')) }}" alt="{{ product.name }}" class="img-fluid" style="max-width: 300px;">
            {% else %}
                <img src="{{ url_for('static', filename='images/placeholder.jpg') }}" alt="Placeholder" class="img-fluid" style="max-width: 300px;">
            {% endif %}
        </div>
        <div class="col-md-6">
            <h2>{{ product.name }}</h2>
            <p>{{ product.description }}</p>
            <p>₹{{ product.price }} (incl. GST)</p>
            <h4>₹{{ product.price }}</h4>
            <!--Start of Tawk.to Script-->
<script type="text/javascript">
    var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
    (function(){
    var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
    s1.async=true;
    s1.src='https://embed.tawk.to/68024700c5a0bc1911588f2e/1ip4eanet';
    s1.charset='UTF-8';
    s1.setAttribute('crossorigin','*');
    s0.parentNode.insertBefore(s1,s0);
    })();
    </script>
    <!--End of Tawk.to Script-->
            <form method="post" action="{{ url_for('cart') }}">
                <input type="hidden" name="product_id" value="{{ product.id }}">
                <div class="form-group">
                    <label for="quantity">Quantity:</label>
                    <input type="number" name="quantity" id="quantity" value="1" min="1" class="form-control w-25">
                </div>
                <button type="submit" class="btn btn-primary mt-3">Add to Cart</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}